REACT_APP_API_URL=http://localhost:5000/api

# Razorpay (get test keys from https://dashboard.razorpay.com/app/keys)
RAZORPAY_KEY_ID=rzp_test_TRwgxjAwnTXeKD
RAZORPAY_KEY_SECRET=CSZH0U0XaKq44tFmgAYddwvT
